.form {
	width: 700px;
background-color: #ffffff;
opacity: 1;
background: linear-gradient(135deg, #dbe3ff55 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #dbe3ff 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #dbe3ff55 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #dbe3ff 25%, #ffffff 25%) 0px 0/ 20px 20px;
}